Repository opendatahub-io/odh-model-controller, pull requests merged in 2025-07, with the labels that each got.

#479 Sync/250701 incubation main
  config/base/kustomization.yaml
  config/base/params-vllm-spyre.env
  config/runtimes/kustomization.yaml
  config/runtimes/vllm-cuda-template.yaml
  config/runtimes/vllm-gaudi-template.yaml
  config/runtimes/vllm-multinode-template.yaml
  config/runtimes/vllm-spyre-template.yaml
  go.mod
  go.sum
  internal/controller/serving/servingruntime_controller.go
  test/e2e/modelregistry_controller_e2e_test.go
Labels: approved, lgtm, tide/merge-method-merge

#480 feat: add support for personal keys for NIM
  internal/controller/nim/handlers/configmap_handler_test.go
  internal/controller/nim/handlers/pull_secret_handler_test.go
  internal/controller/nim/handlers/testdata/get_caller_info_response.json
  internal/controller/nim/handlers/validation_handler_test.go
  internal/controller/testdata/nvidia_api_mock.go
  internal/controller/utils/nim.go
Labels: approved, lgtm, ok-to-test

#481 feat: add support for personal keys for NIM
  internal/controller/nim/handlers/configmap_handler_test.go
  internal/controller/nim/handlers/pull_secret_handler_test.go
  internal/controller/nim/handlers/testdata/get_caller_info_response.json
  internal/controller/nim/handlers/validation_handler_test.go
  internal/controller/testdata/nvidia_api_mock.go
  internal/controller/utils/nim.go
Labels: approved, ok-to-test

#487 Updating the secret controller to limit model mesh certificates
  internal/controller/core/secret_controller.go
  internal/controller/core/testdata/secrets/storageconfig-cert-encoded-updated.yaml
  internal/controller/core/testdata/secrets/storageconfig-cert-encoded.yaml
  internal/controller/core/testdata/secrets/storageconfig-cert-string.yaml
Labels: approved, lgtm

#482 chore: removed validation-skip annotation for NIM
  internal/controller/constants/constants.go
  internal/controller/nim/handlers/validation_handler.go
  internal/controller/nim/handlers/validation_handler_test.go
Labels: approved, ok-to-test
